// Styles shared between `BLOCK_SHARED_DATA_ELEMENT` and `BLOCK_LETTER_DATA_ELEMENTS`

.data-elements-counter-container {
    counter-reset: info-messages;

    & &__info {
        position: relative;
        counter-increment: info-messages;
        padding-left: $baseunit * 2.5;

        &:before {
            @include scut-truncate;

            content: counter(info-messages) '.';
            position: absolute;
            left: $baseunit * 1;
            max-width: $baseunit * 1.5;
            text-align: center;
        }
    }
}
