.data-element-options-shape {
    counter-reset: info-messages;

    .data-element {
        &:first-child {
            margin-top: $baseunit * 0.5;
        }

        .data-elements-container__info:before {
            content: counter(info-messages, lower-alpha) '.';
        }
    }
}
