.editor-label-wrapper {
    // ********************************
    // * Screen reader only (default) *
    // ********************************

    &--style-sr-only > &__controls {
        @include scut-hide-visually;
    }

    // **************
    // * Form label *
    // **************

    &--style-form-label > &__controls {
        margin-bottom: $baseunit * 0.5;
    }
    &--style-form-label > &__content {
        padding: $baseunit;
        border: 1px solid $color-seafoam-dark-2;
        border-radius: $border-radius;
    }

    // ****************
    // * Other styles *
    // ****************

    &--no-content-spacing > &__content {
        padding: 0;
    }
}
