.editor-label-wrapper {
    border: 1px solid $color-seafoam-dark-2;
    border-radius: $border-radius;
    transition: border-color 0.3s, background-color 0.5s;

    &__controls {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $baseunit;
        background-color: $color-seafoam;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom: 1px solid $color-seafoam-dark-2;
        transition: padding 0.3s, border-color 0.3s;
        z-index: $z-index-front-1;

        &__label {
            flex-grow: 1;
            font-size: $baseunit;
        }
    }
    &__content {
        padding: $baseunit;
    }
    // Prevent nested controls from overlapping the sticky parent controls
    &__content &__controls {
        z-index: $z-index-reset;
    }

    // add right padding to label if has toggle
    &--has-toggle &__controls {
        &__label {
            padding-right: $baseunit;
        }
    }
    &--has-toggle &__toggle {
        &[type='button'] {
            flex-grow: 0;
            flex-shrink: 0;

            position: relative;
            height: $baseunit * 1.5;
            width: $baseunit * 1.5;
            border: 0;
        }
        &:after {
            @include scut-center-transform;

            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../assets/images/icon-minus.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &__label {
            @include scut-hide-visually;
        }
    }
    // only limit max-height if has toggle
    &--has-toggle &__content {
        @include scroll-vertical;

        max-height: 70vh;
        padding: $baseunit;
        transition: max-height 0.3s, padding 0.3s;
    }
    &--has-toggle#{&}--closed {
        border-color: $color-seafoam-dark-3;
    }
    &--has-toggle#{&}--closed &__controls {
        border-color: transparent;
        border-radius: $border-radius;
    }
    &--has-toggle#{&}--closed &__toggle[type='button']:after {
        background-image: url('../assets/images/icon-plus.svg');
    }
    &--has-toggle#{&}--closed &__content {
        max-height: 0;
        padding: 0 $baseunit;
    }
}
